---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import PublicationList from "../components/PublicationList.astro";
import AwardsSection from "../components/AwardsSection.astro";
import HobbiesSection from "../components/HobbiesSection.astro";
import PresentationsSection from "../components/PresentationsSection.astro";
import { readFileSync } from "fs";
import { parse } from "yaml";

const publications = parse(readFileSync("src/data/publications.yml", "utf-8"));
const preprints = parse(readFileSync("src/data/preprints.yml", "utf-8"));
const allPublications = [...publications, ...preprints].sort((a, b) => b.year - a.year);
const awards = parse(readFileSync("src/data/awards.yml", "utf-8"));
const presentationsData = parse(readFileSync("src/data/presentations.yml", "utf-8"));
---

<BaseLayout>
  <div class="mx-auto max-w-5xl space-y-16 px-6 py-16">
    <Hero />
    <PublicationList title="Publications and Preprints" id="publications" publications={allPublications} />
    <AwardsSection awards={awards} />
    <PresentationsSection posters={presentationsData.posters} talks={presentationsData.talks} />
    <HobbiesSection />
  </div>
</BaseLayout>
